.edit-form {

    display: flex;
    
    &__left {
        width: 40%;
    }

    &__right {
        width: 60%;
    }

    &__btn {
        width: 100%;
    }


    .image__preview {
        width: 10rem;
        height: 10rem;

        img {
            width: 100%;
        }
    }

}