@import-normalize;

*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2rem;
}

img {
    display: block;
    max-width: 100%;
}